extend layout
block content
  h1 
    | Keep it simple, stupid

  p
    a(href='mailto:andre@andreabades.so') Email
    |, 
    a(href='http://andreabades.so/blog') Blog
    |, 
    a(href='http://www.github.com/andreabadesso') Github
    |, 
    a(href='http://www.lab21k.com.br') Lab21k
