extend layout
block content
  h1 
    | Keep it simple, stupid

  p
    a(href='mailto:andre@andreabades.so') Email
    |, 
    a(href='http://andreabades.so/blog') Blog
    |, 
    a(href='http://www.github.com/andreabadesso') Github
    |, 
    a(href='http://www.lab21k.com.br') Lab21k

  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-49932355-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
