@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
}
.tudo {
  margin: 0 0 0 100px;
  position: relative;
  top: 50%;
  -webkit-transition: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-55%);
  -moz-transform: translateY(-55%);
  -o-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
}
a,
p {
  color: #999;
  text-decoration: none;
  font-size: 25px;
}
h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 10px;
}
p > *:hover {
  -webkit-transition: color 500ms ease-out;
  -moz-transition: color 500ms ease-out;
  -o-transition: color 500ms ease-out;
  -webkit-transition: color 500ms ease-out;
  -moz-transition: color 500ms ease-out;
  -o-transition: color 500ms ease-out;
  -ms-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
  color: #008fd5;
}
@media only screen and (max-width: 320px) {
  body {
    padding: 30px;
  }
  body .tudo {
    margin-left: 0;
  }
}
